.photo-box1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    text-align: center;
}

.photo-box2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    text-align: center;
}

.photo-box3{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    text-align: center;
}

.photo-box4{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    text-align: center;
}

.photo-box1 p{
    font-size: 1.7rem;
    color: @nav-text;
    margin-top: 5px;
}

.photo-box2 p{
    font-size: 1.7rem;
    color: @nav-text;
    margin-top: 5px;
}

.photo-box3 p{
    font-size: 1.7rem;
    color: @nav-text;
    margin-top: 5px;
}

.photo-box4 p{
    font-size: 1.7rem;
    color: @nav-text;
    margin-top: 5px;
}











.bottom-about {
    display: flex;
    flex-direction: column;   
    margin-bottom: 30px; 
}

.bottom-about-img{
    height: auto;
    max-width: 100%;
    margin-bottom: 30px;
}

.bottom-about-text {
    max-width: 95%;
    text-align: left;
    padding-left: 10px;
}

.bottom-about-text h1{
    margin-bottom: 20px;
}

.bottom-about-text p{
    font-size: 1.7rem;
}


@media (min-width: 550px){

    .bottom-about {
        display: flex;
        flex-direction: row;   
    }
    
    .bottom-about-img{
        max-width: 50%;
        margin-bottom: 30px;
    }
    
    .bottom-about-text {
        max-width: 50%;
        padding-left: 10px;
    }
    
    .bottom-about-text p{
        font-size: 2rem;
    }
    
}