.photo-box1{
   .photo-box-layout;
}

.photo-box2{
    .photo-box-layout;
}

.photo-box3{
    .photo-box-layout;
}

.photo-box4{
    .photo-box-layout;
}

.photo-box1 p{
    .photo-box-text;
}

.photo-box2 p{
    .photo-box-text;
}

.photo-box3 p{
    .photo-box-text;
}

.photo-box4 p{
    .photo-box-text;
}


.bottom-about {
    display: flex;
    flex-direction: column;   
    margin-bottom: 30px; 
}

.bottom-about-img{
    height: auto;
    max-width: 90%;
    margin: auto;
    border: 2px solid @porcelain;
    border-radius: 6px;
}

.bottom-about-text {
    max-width: 95%;
    text-align: left;
    padding-left: 10px;
}

.bottom-about-text h1{
    margin: 20px 0;
}

.bottom-about-text p{
    font-size: 1.7rem;
}


@media (min-width: 550px){
    .desktop-photos{
      display: flex;
    }

    .bottom-about {
        display: flex;
        flex-direction: row;   
    }
    
    .bottom-about-img{
        max-width: 50%;
    }
    
    .bottom-about-text {
        max-width: 50%;
    }
    
    .bottom-about-text p{
        font-size: 2rem;
    }
    
}