// Home Page

.top h1{
    text-align: center;
    padding: 40px 0 100px 0;
}

main{
    position: relative;
}

.main-img{
    overflow: hidden;
}

.main-text p{
    max-width: 30%;
    color: @main-text;
    position: absolute;
    top: 8px;
    right: 16px;
    z-index: 2;
    font-size: 3.7rem;
    padding-top: 50px;
}


button {
    background-color: @button-bkgrnd;
    color: @main-text;
    padding: 15px 50px;
    font-size: 1.8rem;
    border-radius: 8px;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.info{
    display: flex; 
    justify-content: space-around;
    padding: 150px 0 20px 0;
}

.info-box p{
    background-color: @white;
    padding: 15px 50px;
    font-size: 1rem;
    color: @info-text;
}



