// Navigation






@media(min-width: 500px){
header{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid @porcelain;
    padding-top: 30px;
}

h1{
    text-align: center;
    font-size: 2.7rem;
    color: @main-text;
}
nav{
    padding-bottom: 0;
}
a{
    font-size: 1.3rem;
    text-decoration: none;
    margin-left: 40px;
    color: @main-text;
}

a:hover{
    color: @nav-text;
}
}




