// Navigation

header{
    border: 1px solid blue;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid @white;
}

h1{
    text-align: center;
    font-size: 2.8rem;
}

nav{
    display: flex;
    justify-content: space-around;
}

a{
    font-size: 1.7rem;
    text-decoration: none;
}

