// Navigation

header{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid @white;
    padding-top: 30px;
}

h1{
    text-align: center;
    font-size: 2.7rem;
    color: @main-text;
}
nav{
    padding-bottom: 0;
}
a{
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 40px;
    color: @nav-text;
}



